<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="card.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="db_cardEntities" connectionString="metadata=&quot;res://*/card model.csdl|res://*/card model.ssdl|res://*/card model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=db_card;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <card.Properties.Settings>
      <setting name="str_orgname" serializeAs="String">
        <value>سازمان سنجش آموزش کشور</value>
      </setting>
      <setting name="str_exname" serializeAs="String">
        <value>آزمون کارشناسی ارشد ناپیوسته</value>
      </setting>
      <setting name="str_year" serializeAs="String">
        <value>سال ۱۳۹۷</value>
      </setting>
      <setting name="logo" serializeAs="String">
        <value />
      </setting>
      <setting name="current_pic" serializeAs="String">
        <value />
      </setting>
      <setting name="date" serializeAs="String">
        <value />
      </setting>
      <setting name="id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="bayganifilepath" serializeAs="String">
        <value />
      </setting>
      <setting name="listfilepath" serializeAs="String">
        <value />
      </setting>
      <setting name="multiprint" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="singleprint" serializeAs="String">
        <value>0</value>
      </setting>
    </card.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>